body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
